{
    "swagger": "2.0",
    "info": {
        "title": "Touchedition API",
        "description": "Move your app forward with the Touchedition API",
        "version": "1.0.0"
    },
    "host": "api2.touchedition.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/api/ssslide": {
            "get": {
                "summary": "Get Published Sslides",
                "description": "",
                "parameters": [
                    {
                        "name": "site",
                        "in": "query",
                        "description": "Specific site id",
                        "required": false,
                        "default": "55d465e5f48c35e6665c61cb",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit query length",
                        "required": false,
                        "type": "number",
                        "default": 1
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "query only attributes",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Specify sort query [stats.day, stats.week, stats.month]",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Sslides"
                ],
                "responses": {
                    "200": {
                        "description": "An array of sslides",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SSlide"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/ssslide/all": {
            "get": {
                "summary": "Get All Sslides",
                "description": "Require Authorizaztion",
                "parameters": [
                    {
                        "name": "site",
                        "in": "query",
                        "description": "Specific site id",
                        "required": false,
                        "default": "55d465e5f48c35e6665c61cb",
                        "type": "string"
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "query only attributes",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit query length",
                        "required": false,
                        "type": "number",
                        "default": 1
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Specify sort query [stats.day, stats.week, stats.month]",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Sslides"
                ],
                "responses": {
                    "200": {
                        "description": "An array of sslides",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SSlide"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/ssslide/template": {
            "get": {
                "summary": "Get All Template Sslides",
                "description": "",
                "parameters": [
                    {
                        "name": "site",
                        "in": "query",
                        "description": "Specific site id",
                        "required": false,
                        "type": "string",
                        "default": "55d465e5f48c35e6665c61cb"
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "query only attributes",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit query length",
                        "required": false,
                        "type": "number",
                        "default": 1
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Specify sort query [stats.day, stats.week, stats.month]",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Sslides"
                ],
                "responses": {
                    "200": {
                        "description": "An array of sslides",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SSlide"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/ssslide/one": {
            "get": {
                "summary": "Get One Sslide",
                "description": "",
                "parameters": [
                    {
                        "name": "site",
                        "in": "query",
                        "description": "Specific site id",
                        "required": false,
                        "type": "string",
                        "default": "55d465e5f48c35e6665c61cb"
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "query only attributes",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Sslides"
                ],
                "responses": {
                    "200": {
                        "description": "An array of sslides",
                        "schema": {
                            "$ref": "#/definitions/SSlide"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/ssslide/{id}": {
            "get": {
                "summary": "Get One Sslide",
                "description": "",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ssite id",
                        "required": true,
                        "type": "string",
                        "default": "573ddad6fcd7a917000cf9e5"
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "query only attributes",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Sslides"
                ],
                "responses": {
                    "200": {
                        "description": "An array of sslides",
                        "schema": {
                            "$ref": "#/definitions/SSlide"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/ssslide/seo": {
            "get": {
                "summary": "Get Sslide SEO",
                "description": "",
                "parameters": [
                    {
                        "name": "site",
                        "in": "query",
                        "description": "Specific site id",
                        "required": false,
                        "type": "string",
                        "default": "55d465e5f48c35e6665c61cb"
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "query only attributes",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Sslides"
                ],
                "responses": {
                    "200": {
                        "description": "An array of sslides",
                        "schema": {
                            "$ref": "#/definitions/SEOHTML"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/category/{id}": {
            "get": {
                "summary": "get Category by id [Need Authorization]",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Specific category id",
                        "required": true,
                        "type": "string",
                        "default": "55d465e5f48c35e6665c61cb"
                    }
                ],
                "tags": [
                    "Category"
                ],
                "responses": {
                    "200": {
                        "description": "An array of sslides",
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Category": {
            "type": "object",
            "properties": {
                "_id": {
                    "type": "string",
                    "description": "Unique identifier representing a specific sslide."
                },
                "name": {
                    "type": "string",
                    "description": "Category Name"
                },
                "subscription": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Error"
                    },
                    "description": "Subscribtion List"
                }
            }
        },
        "SEOHTML": {
            "type": "object",
            "properties": {
                "html": {
                    "type": "string",
                    "description": "Unique identifier representing a specific sslide."
                }
            }
        },
        "SSlide": {
            "type": "object",
            "properties": {
                "_id": {
                    "type": "string",
                    "description": "Unique identifier representing a specific sslide."
                },
                "title": {
                    "type": "string",
                    "description": "Display name of product."
                },
                "description": {
                    "type": "string",
                    "description": "Description of product."
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}
